.blog-outer-container {
    position: relative;
    height: auto;
    min-height: 450px;
    background-color: #ffffff;
    padding: 3rem 8vw;
  }
  
  .heading-blog-container {
    font-family: "Montserrat", sans-serif;
    color: #1e31d6;
    font-size: 2.5vw; 
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 2rem;
    margin-top: -5rem;
  }
  
  .all-blogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  
  .blog {
    width: calc(60% - 0.5rem);
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1), 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  
  .blog img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  

  .blogs {
    width: calc(70% - 1rem);
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1), 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  
  .blogs img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 15px;
  }
  .text-blog {
    font-family: "Montserrat", sans-serif;
  }
  
  .time-name {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
  .blog-heading {
    color: #333;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .blog-para {
    color: #667085;
    margin-bottom: 1rem;
    max-width: 22rem;
  }
  
  .blog-button {
    background: #1e31d64d;
    color: #1e31d6;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 900px) {
    .blog {
      width: calc(70% - 1rem); 
    }

    .blogs {
      width: calc(70% - 1rem); 
    }
    
    .heading-blog-container {
      font-size: 4vw; 
    }
  
    .blog-para {
      max-width: 100%;
    }
  }


   
  @media screen and (max-width: 500px) {
    .blog {
      width: calc(100% - 1rem); 
    }

    .blogs {
      width: calc(100% - 1rem); 
    }
    
    .heading-blog-container {
      font-size: 4vw; 
    }
  
    .blog-para {
      max-width: 100%;
    }
  }
  