.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 180px;
  padding: 85px 35px 35px 35px;
}

.section {
  display: flex;
  flex-direction: column;
}

z {
  font-size: 1rem;
  color: #52525b;
}

.section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: "Montserrat";
  color: #1e31d6;
}

.section ul li,
z {
  font-family: "Montserrat";
  color: #52525b;
}

.email-signup {
  display: flex;
  flex-direction: column;
}

.email-signup button:hover {
  background-color: var(--color-3);
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
  font-family: var(--font-2);
  font-size: 1rem;
}

.social-icons {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  margin-top: 10px;
}

.social-icons svg {
  color: var(--color-6);
  cursor: pointer;
}

.social-icons svg:hover {
  color: #1e31d6;
}

.footer-para {
  width: 350px;
  font-family: "Montserrat";
}

.newsletter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright p {
  font-family: "Poppins";
  color: #52525b;
  margin-bottom: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    gap: 50px;
  }

  .footer-para {
    width: 250px;
  }

  .copyright p {
    font-family: "Poppins";
    color: #52525b;
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem;
  }
}

@media (max-width: 281px) {
  .footer-para {
    width: 200px;
  }

  .copyright p {
    font-family: "Poppins";
    color: #52525b;
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.7rem;
    padding: 0.6rem;
  }
}

/* newsletter css starts here */

.newsletter-component {
  background-color: #1e31d6;
  margin-top: 5rem;
  padding: 70px 10%;
  text-align: center;
  border-radius: 15px;
}

.heading-newsletter-component {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  line-height: 52.18px;
  text-align: center;
  color: #ffffff;
}

.input-container-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.input-container-letter input {
  flex: 1;
  margin-right: 10px;
  border: 1px solid #d4d4d8;
  background-color: transparent;
  padding: 15px;
  color: #ffffff;
  border-radius: 10px;  
  font-family: "Poppins";
}

.input-container-letter input::placeholder{
    color: #ffffff;
}

.subscribe {
  background-color: #ffffff;
  color: #1e31d6;
  border: none;
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 600;
  line-height: 30.44px;
  letter-spacing: -0.21741357445716858px;
  text-align: right;
  border-radius: 15px;
}

.subscribe:hover {
  background-color: #0c1a7e;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .input-container-letter {
    flex-direction: column;
  }

  .input-container-letter input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .newsletter-component {
    padding: 70px 10%; 
  }
  .input-container-letter input {
    margin-bottom: 10px;
  }

  .footer-para {
    width: 250px;
    font-family: "Montserrat";
  }

}

@media screen and (max-width: 281px) {
  .footer-para {
    width: 200px;
    font-family: "Montserrat";
  }
}
