@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: whitesmoke;
  color: black;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1000; 
  /* border: 2px solid red; */
}
.logo {
  width: 100px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-links ul li a {
  position: relative;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-right: 1rem;
  overflow: hidden;
  text-decoration: none;
  margin-left: 40px;
}

.nav-links ul li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #003366;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-links ul li a:hover::after {
  transform: scaleX(1);
  color: #003366;
}

.nav-links ul li.active a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #003366;
  transform: scaleX(1); 
  transform-origin: left;
}


.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu svg {
  color: black;
  font-size: 24px;
  margin-right: 2rem;
}

@media screen and (max-width: 1165px) {
  .nav-links {
    display: none;
    right: 0;
  }

  .nav-links.active {
    display: block;
    position: fixed;
    top: 0.1%;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    z-index: 11;
    animation: slideFromRight 0.3s ease-in-out forwards;
  }

  @keyframes slideFromRight {
    from {
      right: -100%;
    }

    to {
      right: 0;
    }
  }

  .nav-links.active ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
  }

  .hamburger-menu {
    display: block;
    z-index: 999;
  }
}
