/* Define the font import */
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-about-main-component {
  margin-top: 5.5rem; 
  height: 100vh;
}

.front-page-component {
  display: flex;
  flex-wrap: wrap; 
}

.para-with-name-container {
  margin: 5.5rem;
  flex: 1; 
}

.para-with-name-container p {
  font-family: "Montagu Slab";
  color: #1e31d6;
  font-weight: bold;
  font-size: 1.8rem; 
  margin-bottom: 1.5rem;
  text-align: justify;
  margin-top: 5.5rem;
}

.para-with-name-container h3 {
  font-family: "Montagu Slab";
  color: #9102b5;
  font-weight: bold;
  font-size: 1.6rem; 
}

@media screen and (max-width: 950px) {
  .outer-about-main-component {
    margin-top: 2rem; 
  }

  .para-with-name-container {
    margin: 1rem;
  }

  .para-with-name-container p {
    font-size: 1.4rem; 
  }

  .para-with-name-container h3 {
    font-size: 1.2rem; 
  }

  .image-about-component img{
    width: 15rem;
    margin-left: 2rem;
    border-radius: 35px;
  }
.front-page-component{
  flex-direction: column;
}
}


/* third page start here */

/* Base styles */
.third-page-container{
  width: 100%;
  height: auto;
  background-color: #1e31d6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.third-focus-component {
  font-family: "Saira Stencil One", sans-serif;
  color: white;
  font-size: 5rem;
  line-height: 1.4;
  font-weight: 100;
  text-align: center;
  padding-top: 1.5rem;
  position: relative;
}

.third-focus-component::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: gold;
}

.head-para-combine-component {
  width: 80rem;
  margin-top: 3rem;
}

.heading-combine {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  margin-bottom: 2rem;
  font-size: 2rem;
  display: flex;
  gap: 5px;
}

.para-combine {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-bottom: 3rem;
  text-align: justify;
}

/* Responsive styles */
@media (max-width: 1300px) {
  .head-para-combine-component {
    width: 80%;
    max-width: 40rem;
    margin-top: 2rem;
  }

  .third-focus-component{
    font-size: 2.5rem;
  }
}


/* fourth page */

/* fourth page */
.fourth-page-container {
  position: relative; /* Ensure relative positioning */
  width: 100%;
  height: auto;
  /* background-color: #ffffff; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fourth-focus-component {
  font-family: "Saira Stencil One", sans-serif;
  color: #1e31d6;
  font-size: 5rem;
  line-height: 1.4;
  font-weight: 100;
  text-align: center;
  padding-top: 1.5rem;
  position: relative;
}

.fourth-focus-component::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: gold;
}

.list-of-work {
  width: 80%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  position: relative; /* Ensure relative positioning */
}

.list-of-work ul li {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  text-align: justify;
  position: relative; /* Ensure relative positioning */
}

.list-of-work ul {
  list-style-type: disc;
}

.list-of-work ul li::marker {
  color: #1e31d6;
}

.image-behind-list {
  position: absolute;
  top: -30%;
  left: 20%;
  transform: translateX(-50%);
  width: 40rem;
  z-index: -1; 
}

.image-behind-list2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  z-index: -1; 
}

.image-behind-list3 {
  position: absolute;
  top: 10%;
  right: -10%;
  transform: translateX(-50%);
  width: 20rem;
  z-index: -1; 
}

@media screen and (max-width: 768px) {
  .list-of-work {
    width: 90%; 
  }

  .list-of-work ul li {
    font-size: 1.2rem; 
  }

  .fourth-focus-component {
    font-size: 1.5rem;
  }

  .list-of-work ul {
    padding: 2rem;
  }

  .fourth-focus-component::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 4px;
    background-color: gold;
  }

  .image-behind-list {
    top: 60%;
    left: 10%;
    width: 20rem;
  }
  
  .image-behind-list2 {
    top: 40%;
    left: 50%;
    width: 10rem;
  }
  
  .image-behind-list3 {
    top: 5%;
    right: -30%;
    width: 15rem;
    display: none;
  }
  .heading-combine {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    display: flex;
    gap: 5px;
  }
}

@media screen and (max-width:560px) {
  .heading-combine {
    font-weight: 600;
    font-size: 1.3rem;
   
  }
}

@media (max-width: 490px) {
  .third-focus-component {
      font-size: 2rem;
  }
}