@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira+Stencil+One&display=swap");

.blog-container {
    padding: 20px;
    margin-top: 90px; 
  }
  
  .blog-headings{
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 100;
    color: #1e31d6;
    font-size: 4rem;
  }

  
  

  .all-blogs-container{
    margin-top: 1rem;
  }

  @media (max-width: 700px) {
    .blog-headings{
      font-size: 1.5em;
      margin-top: 1rem;
    }
  }