* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-about-main-component {
  margin-top: 5.5rem;
  height: 100vh;
}

.front-page-component {
  display: flex;
  flex-wrap: wrap;
}

.para-with-name-container {
  margin: 5.5rem;
  flex: 1;
}

.para-with-name-container p {
  font-family: "Montagu Slab";
  color: #1e31d6;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: justify;
  margin-top: 5.5rem;
}

.para-with-name-container h3 {
  font-family: "Montagu Slab";
  color: #9102b5;
  font-weight: bold;
  font-size: 1.6rem;
}

.image-about-component img {
  width: 90%;
  height: 80%;
  margin-top: 2rem;
  margin-right: -80px;
  border-radius: 125px;
}

.fourth-focus-component {
  font-size: 3rem;
}

.para-combine {
  font-size: 1.5rem;
  /* margin-bottom: 6rem; */
  font-family: "Poppins";
  
}

.f-after::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 184px;
  width: 60%;
  height: 5px;
  background-color: gold;

}

@media screen and (max-width: 950px) {
  .outer-about-main-component {
    margin-top: 2rem;
  }

  .para-with-name-container {
    margin: 1rem;
  }

  .para-with-name-container p {
    font-size: 1.4rem;
  }

  .para-with-name-container h3 {
    font-size: 1.2rem;
  }

  .image-about-component img {
    width: 15rem;
    margin-left: 2rem;
    border-radius: 35px;
  }
  .front-page-component {
    flex-direction: column;
  }
  .para-combine {
    font-size: 1.2rem;
  }
 
}

@media screen and (max-width: 760px) {
  .fourth-focus-component {
    font-size: 1.8rem;
  }
  .list-of-work ul {
    padding: 1rem;
}
.f-after::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 170px;
  width: 44%;
  height: 5px;
  background-color: gold;
}
  .para-with-name-container p {
      font-size: 1.2rem;
}
}
@media screen and (max-width: 560px) {

.f-after::after {
  left: 28%;
  
}

}

@media screen and (max-width: 400px) {
  .fourth-focus-component {
    font-size: 1.5rem;
    margin-bottom: -2.8rem;
  }
  
  .para-combine {
    font-size: 1rem;
    line-height: 1.7rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  
  .f-after::after{
    content: "";
      position: absolute;
      bottom: 0;
      left: 98px;
      width: 44%;
      height: 5px;
      background-color: gold;
  }
}
