video {
  margin-top: 90px;
  width: 100%;
  height: auto;
  object-fit: contain;
  z-index: -1;
}

.event-container {
  margin: 10px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

