* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.manifesto-page-component {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
}

.manifesto-with-name-container {
  margin: 5.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.manifesto-with-name-container p {
  font-family: "Montagu Slab";
  color: #1e31d6;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: justify;
  margin-top: 5.5rem;
}

.image-manifesto-component img {
  width: 22rem;
  margin-top: 2rem;
}

.manifesto-btn {
  background-color: #1e31d6;
  padding: 1rem 5rem;
  border: none;
  border-radius: 15px;
  font-family: "Montserrat";
  font-weight: 600;
  color: #ffffff;
}

@media screen and (max-width: 750px) {
  .manifesto-with-name-container {
    margin: 1rem;
  }

  .manifesto-with-name-container p {
    font-size: 1.4rem;
  }

  .manifesto-with-name-container h3 {
    font-size: 1.2rem;
  }

  .image-manifesto-component img {
    width: 15rem;
    border-radius: 35px;
    margin-top: 0rem;

  }
  .manifesto-page-component {
    flex-direction: column;
  }
}

.fourth-page-container {
  position: relative; /* Ensure relative positioning */
  width: 100%;
  height: auto;
  /* background-color: #ffffff; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fourth-focus-component {
  font-family: "Saira Stencil One", sans-serif;
  color: #1e31d6;
  font-size: 5rem;
  line-height: 1.4;
  font-weight: 100;
  text-align: center;
  padding-top: 1.5rem;
  position: relative;
}

.fourth-focus-component::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: gold;
}

.list-of-work {
  width: 80%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  position: relative; /* Ensure relative positioning */
}

.list-of-work ul li {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  text-align: justify;
  position: relative; /* Ensure relative positioning */
  list-style: none;
  word-spacing: 1.5rem;
}

.list-of-work ul {
  list-style-type: disc;
}

.list-of-work ul li::marker {
  color: #1e31d6;
}


.image-behind-list {
  position: absolute;
  top: -30%;
  left: 20%;
  transform: translateX(-50%);
  width: 40rem;
  z-index: -1; 
}

.image-behind-list2 {
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translateX(-50%);
  width: 20rem;
  z-index: -1; 
}

.image-behind-list3 {
  position: absolute;
  top: 10%;
  right: -10%;
  transform: translateX(-50%);
  width: 20rem;
  z-index: -1; 
}

@media screen and (max-width: 950px) {
  .list-of-work ul li{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .list-of-work {
    width: 90%; 
  }

  .list-of-work ul li {
    font-size: 1.2rem; 
  }

  .fourth-focus-component {
    font-size: 1.5rem;
  }

  .list-of-work ul {
    padding: 2rem;
  }

  .fourth-focus-component::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 35px;
    width: 60%;
    height: 4px;
    background-color: gold;
  }

  .image-behind-list {
    top: 60%;
    left: 10%;
    width: 20rem;
  }
  
  .image-behind-list2 {
    top: 40%;
    left: 50%;
    width: 10rem;
  }
  
  .image-behind-list3 {
    top: 5%;
    right: -30%;
    width: 15rem;
  }
  .image-manifesto-component{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
  
  }
  .image-manifesto-component img {
    /* width: 22rem; */
}
.list-of-work {
  width: 85%;
}
}


@media screen and (max-width: 560px) {

  .list-of-work ul li {
    font-size: 1.2rem;
  }
    
  }



  