/* Define the font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.event-container {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 20px; */
  text-align: center;
  color: #333;
  display: flex;
  flex-direction: column; 
}

.event-title {
  font-size: 2em;
  color: #1e31d6;
  margin-bottom: 20px;
  margin-top: 70rem;
}

.event-banner {
  width: 100%;
  height: auto;
  background-color: #e0e0e0;
  margin-bottom: 20px;
  position: relative;
}

.event-banner-image {
  width: 100%;
  height: auto;
  opacity: 0.1; /* Transparent watermark */
}

.event-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: justify;
}

.event-glimpses-title {
  font-size: 1.5em;
  color: #1e31d6;
  margin-bottom: 10px;
}

.glimpses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.glimpse-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
