/* Define the font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}


.event-containers {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 8rem; 
}

.event-title {
  font-size: 2em;
  color: #1e31d6;
  margin-bottom: 20px;
}

.event-banner {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.event-banner-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  border-radius: 25px; 
}

.event-description {
  font-size: 1em;
  color: black;
  margin-bottom: 20px;
  line-height: 2;
  text-align: justify;
  font-weight: 600;
}

.event-glimpses-title {
  font-size: 2em;
  color: #1e31d6;
  margin-bottom: 10px;
}

.glimpses-grids {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.glimpse-image {
  flex: 1 1 calc(25% - 10px);
  max-width: calc(25% - 10px);
  height: auto;
  border-radius: 10px;
  margin-bottom: 2rem;
}


@media (max-width: 640px) {
  .event-title {
    font-size: 1.4em;
    color: #1e31d6;
    margin-bottom: 20px;
  }
  .event-info-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .event-description{
    font-size: 0.7em;
    display: flex;
  }
  .event-description-container p{
    width: auto;
  }
}